body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left:1em;
    padding-bottom:3em;
    background-color:aliceblue;
}

img {
    width: 600px;
}

.content {
    text-align: center;
    margin: auto;
    list-style-position: inside;
}

form {
    background-color: cornflowerblue;
    color: white;
}